<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/integration
                           http://www.springframework.org/schema/integration/spring-integration-2.0.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <!-- environment configuration: gemfire-->
    <bean id="clientFactory" class="com.gemstone.gemfire.cache.client.ClientCacheFactory">
        <constructor-arg>
            <util:properties>
                <prop key="cache-xml-file">msg-buf-adapter.xml</prop>
            </util:properties>
        </constructor-arg>

    </bean>

    <bean id="client" class="com.gemstone.gemfire.cache.client.ClientCache"
                      factory-bean="clientFactory"
                      factory-method="create"
                      destroy-method="close"/>

    <bean id="entityRegion" class="com.gemstone.gemfire.cache.Region" factory-bean="client" factory-method="getRegion" lazy-init="true">
        <constructor-arg value="trades"/>
    </bean>
    <bean id="messageRegion" class="com.gemstone.gemfire.cache.Region" factory-bean="client" factory-method="getRegion" lazy-init="true">
        <constructor-arg value="msgs"/>
    </bean>
    <bean id="messageSequenceRegion" class="com.gemstone.gemfire.cache.Region" factory-bean="client" factory-method="getRegion" lazy-init="true">
        <constructor-arg value="msgs-sequence"/>
    </bean>
    <bean id="expiredMessageRegion" class="com.gemstone.gemfire.cache.Region" factory-bean="client" factory-method="getRegion" lazy-init="true">
        <constructor-arg value="expired-msgs"/>
    </bean>
    <bean id="messageCheckRegion" class="com.gemstone.gemfire.cache.Region" factory-bean="client" factory-method="getRegion" lazy-init="true">
        <constructor-arg value="msg-to-check"/>
    </bean>
    <!-- sample components -->

    <bean id="barrierBean" class="com.googlecode.icegem.message.barrier.core.RegionListeningBarrierBean" >
        <property name="entityRegion" ref="entityRegion"/>
        <property name="messageRegion" ref="messageRegion"/>
        <property name="messageSequenceRegion" ref="messageSequenceRegion"/>
        <property name="expiredMessageRegion" ref="expiredMessageRegion"/>
        <property name="messageCheckRegion" ref="messageCheckRegion"/>
        <property name="barrierPolicy" ref="barrierPolicyImpl"/>
        <property name="channel" ref="toExternalSystem"/>
        <property name="touchTime" value="60"/>
        <property name="collectorTime" value="120"/>
    </bean>

    <bean id="barrierPolicyImpl" class="example.model.BarrierPolicyImpl">
        <property name="tradeRgn" ref="entityRegion"/>
    </bean>

    <bean id="tradeGenerator" class="example.utils.TradeGenerator" depends-on="client">
        <property name="tradeRgn"  ref="entityRegion"/>
        <property name="tradeCount" value="10"/>
    </bean>

    <bean id="messageGenerator" class="example.utils.MessageGenerator" depends-on="client">
        <property name="MAX_MSG_COUNT" value="50"/>
        <property name="MAX_TRADE_ID" value="10"/>
        <property name="channel" ref="fromTradeSystem"/>
    </bean>

    <bean id="messageReceiver" class="example.utils.MessageReceiver"/>

    <int:publish-subscribe-channel id="fromTradeSystem"/>

    <int:publish-subscribe-channel id="toExternalSystem"/>


    <int:service-activator input-channel="fromTradeSystem"
                           output-channel="toExternalSystem"
                           ref="barrierBean"
                           method="isPollable"/>
</beans>